@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-space-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --color-mars: #C1440E;
  --color-neo: #E5A500;
  --color-iss: #4FC3F7;
  --color-bg: #080808;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: white;
  }
}
